.container {
    height: 70vh;
    padding: 2rem;
    text-align: left;
}


.container:hover {
    background-image: none;
    background-image: none;
    animation: move-up;
    animation-duration: 0.7s;
    position: relative;
    animation-fill-mode: forwards;
}

@keyframes move-up {
    from {
        top: 0rem;
        background-color: red;
        color: white;
    }

    to {
        top: -2rem;
        background-color: red;
        color: white;
    }
}

.spanner {
    color: red;
    width: 2rem;
    margin: 2rem 0 2rem 1rem;
    transform: scale(2);
}

.h1{
    font-weight: 500;
}

.p1 {
    margin: 1rem 0;
    line-height: 3;
    font-weight: 300;
}

@media screen and (min-width: 1000px) {

    .container {
        padding: 2rem 3rem;
        height: 29rem;
    }

    .p1{
        line-height: normal;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {

    .p1{
        line-height: normal;
    }

    .container {
        padding: 2rem 3rem;
        height: 29rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {

    .container {
        padding: 2rem 3rem;
        height: 29rem;
    }

    .p1{
        line-height: normal;
    }
}

@media screen and (min-width: 1100px) and (max-width:1300px){

    .container {
        padding: 2rem 3rem;
        height: 29rem;
    }

    .p1{
        line-height: normal;
    }
}