.container {
    color: red;
    margin: 0;
    text-align: centre;
    height: fit-content;
    padding:  5px 10px;
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: white;
    animation: enter;
    animation-duration: 1s;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: rgba(128, 128, 128, 0.269);
}

.believe {
    color: red;
    margin: 0;
    text-align: centre;
    height: fit-content;
    padding:  4px 10px;
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: transparent;
}

.believe .btn_menu{
    color:orange;
}

.active{
    background-color: black;
}

@keyframes enter{
    0% { background-color: rgba(0, 0, 0, 0); top:-100%;}
    100% { background-color: white; top:0;}
}

.socials{
    display: none;
}

.img {
    border-radius: 100%;
    overflow: hidden;
    width: fit-content;
    height: 3rem;
    float: left;
    margin-left: 2rem;
}

.image2{
    display: none;
}

.list {
    display: none;
    text-align: center;
}

.btn_close {
    display: none;
}

.btn_menu {
    float: right;
    margin: 3px 10px 0 0;
    color: red;
    border: none;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
}

.btn_menu:hover {
    background-color: red;
    color: white;
    border-radius: 100%;
}

.btn_close {
    margin: 5rem auto 0;
}



.responsive {
    background-color: white;
    position: fixed;
    z-index: 1;
    width:75%;
    height: 100%;
    animation: slide-right;
    animation-duration: 0.6s;
    font-weight: 300;
    box-shadow: 5px 0 2px 2000000px rgba(0, 0, 0, 0.397);
}

@keyframes slide-right {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

.responsive .btn_close {
    display: block;
    position: absolute;
    color:red;
    background-color:rgba(128, 128, 128, 0.123);
    border-radius: 100%;
    border: none;
    width: 3rem;
    height: 3rem;
    top: -3rem;
    right: 0;
    margin-right: 2rem;
}

.responsive .image2{
    display: none;
}

.responsive .btn_menu {
    display: none;
}

.responsive .list {
    display: block;
}

.responsive .list_items:first-child {
    margin-top: 9rem;
}

.responsive .list_items {
    list-style: none;
    margin: 1.5rem 0;
    text-align: left;
    font-size: 1.5rem;
}

.responsive .list_items:hover{
    color: red;
    text-decoration: underline;
}

.responsive .socials{
    display: block;
    text-align: left;
    margin: 5rem 0  0 2.5rem;
}

.responsive .texter{
    font-size: 1.4rem;
    font-weight: 300;
}

.responsive .img {
    margin-top: 2rem;
    margin-left: 2.4rem;
}

.slide_back .list {
    display: block;
}

.slide_back {
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 50%;
    height: 100%;
    animation: slide-left;
    animation-duration: 2s;
    font-weight: 300;
}

@keyframes slide-left {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

.slide_back .image2{
    display: none;
}

.slide_back .btn_close {
    display: none;
}

.slide_back .btn_menu {
    display: none;
}

.slide_back .list {
    display: block;
}

.slide_back .list_items:last-child {
    margin-bottom: 3rem;
}

.slide_back .list_items:first-child {
    margin-top: 9rem;
}

.slide_back .list_items {
    list-style: none;
    margin: 1.5rem 0;
    text-align: left;
    font-size: 1.5rem;
}

.slide_back .img {
    margin-top: 2rem;
    float: left;
}

.slide_back .socials{
    display: none;
}

@media screen and (min-width: 1100px) {
    .btn_menu {
        display: none;
    }

    .socials{
        margin: 3rem auto;
        display: block;
    }

    .texter{
        font-size: 1.4rem;
        color: black;
        font-weight: 300;
    }

    .container{
        float: left;
        background-color: white;
        position: fixed;
        width: 18%;
        animation: none;
        height: 100%;
        font-weight: 300;
        text-align: center;
        box-shadow: 2px 2px 20px 2px rgba(128, 128, 128, 0.215);
    }

    .believe{
        float: left;
        background-color: white;
        position: fixed;
        width: 18%;
        height: 100%;
        font-weight: 300;
        animation: none;
        text-align: center;
        box-shadow: 2px 2px 20px 2px rgba(128, 128, 128, 0.215);
    }


    .list {
        display: block;
        padding: 0;
    }

    .list_items:first-child {
        margin-top: 3rem;
    }

    .list_items {
        list-style: none;
        margin: 1.2rem auto;
        text-align: center;
        font-size: 1.5rem;
        color: black;
    }

    .list_items:hover{
        color: red;
        text-decoration: underline;
    }

    .list_items:focus{
        color: red;
    }

    .img {
        display: none;
    }

    .image2{
        background-color: grey;
        display: block;
        margin:2rem auto;
        border-radius: 100%;
        overflow: hidden;
        width: 200px;
        height: 200px;
        height: fit-content;
        border: 5px solid white;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.226);
    }
}