.para1{
    color: red;
    width: 100%;
    text-align: center;
    padding: 2px;
}

.container{
    overflow: hidden;
    text-align: centre;
    margin: 5rem auto ;
    padding-bottom: 6rem;
    border-width: 0 0 .1rem;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.26);
}

.h1{
    text-align: center;
    margin: 0.5rem auto 1rem;
    font-size: 4rem;
    font-weight: 600;
}

.nemesis{
    display: none;
}

.first_card{

    margin: 2rem 1rem;
    height: 50vh;
    overflow: hidden;
    background-image: linear-gradient(to bottom right,
    white,
    rgba(212, 212, 212, 0.242),
    white);
    border-radius: 1rem;
    box-shadow: .3rem .2rem 1rem rgba(0, 0, 0, 0.103);
}

.third_card{

    margin: 2rem 1rem;
    height: 50vh;
    overflow: hidden;
    background-image: linear-gradient(to bottom right,
    white,
    rgba(212, 212, 212, 0.242),
    white);
    border-radius: 1rem;
    box-shadow: .3rem .2rem 1rem rgba(0, 0, 0, 0.103);
}

.fourth_card{

    margin: 2rem 1rem;
    height: 50vh;
    overflow: hidden;
    background-image: linear-gradient(to bottom right,
    white,
    rgba(212, 212, 212, 0.242),
    white);
    border-radius: 1rem;
    box-shadow: .3rem .2rem 1rem rgba(0, 0, 0, 0.103);
}

@media screen and (min-width: 1000px) {
    .first_card {
        width: 25%;
        height: 25rem;
        display: inline-block;
        margin: 2rem 1rem;
    }

    .third_card {
        width: 25%;
        height: 25rem;
        display: inline-block;
        margin: 2rem 1rem;
    }

    .fourth_card {
        width: 25%;
        height: 25rem;
        display: inline-block;
        margin: 2rem 1rem;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .first_card {
        width: 35%;
        height: 25rem;
        display: inline-block;
        margin: 2rem 2rem;
    }

    .third_card {
        width: 35%;
        height: 25rem;
        display: inline-block;
        margin: 2rem 2rem;
    }

    .fourth_card {
        width: 35%;
        height: 25rem;
        display: inline-block;
        margin: 2rem 2rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .first_card {
        width: 40%;
        height: 25rem;
        display: inline-block;
        margin: 2rem 1rem;
    }

    .third_card {
        width: 40%;
        height: 25rem;
        display: inline-block;
        margin: 2rem 1rem;
    }

    .fourth_card {
        width: 40%;
        height: 25rem;
        display: inline-block;
        margin: 2rem 1rem;
    }
}

@media screen and (min-width: 1100px) and (max-width:1300px){
    .first_card {
        width: 30%;
        height: 25rem;
        display: inline-block;
        margin: 2rem 1rem;
    }

    .third_card {
        width: 30%;
        height: 25rem;
        display: inline-block;
        margin: 2rem 1rem;
    }

    .fourth_card {
        width: 30%;
        height: 25rem;
        display: inline-block;
        margin: 2rem 1rem;
    }
}

@media screen and (min-width:1100px) {
    .container{
        width: 80%;
        position: relative;
        float: right;
    }
}