.main {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.divider {
    position: relative;
    animation: move-up;
    animation-duration: 1s;
    overflow: hidden;
    animation-delay: .1s;
}

.cover {
    margin: 0 auto 5rem;
    overflow: hidden;
}

.cover1 {
    margin: 0 auto 5rem;
    overflow: hidden;
}

.divider1 {
    position: relative;
    animation: move-up;
    animation-duration: 1s;
    overflow: hidden;
}

@keyframes move-up {
    from {
        opacity: 0;
        bottom: -10rem
    }

    to {
        opacity: 1;
        bottom: 0rem
    }
}

.html {
    margin: 1rem auto;
    font-size: .7rem;
    font-weight: 300;
}

.p1 {
    color: red;
}

.h1 {
    padding: 10px 0;
    font-weight: 500;
}

@keyframes move-right {
    from {
        left: -100%
    }

    to {
        left: 0%
    }
}

.div1 {
    height: 10px;
    background-color: rgba(128, 128, 128, 0.294);
    padding-top: 2px;
    margin: 0 auto 1.8rem;
}

.jnr1 {
    background-image: linear-gradient(to right, white, red);
    width: 95%;
    height: 6px;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: .5s;
}

.span1 {
    float: right;
    margin-right: 5%;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: .5s;
}

.jnr2 {
    background-image: linear-gradient(to right, white, red);
    width: 85%;
    height: 6px;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: .6s;
}

.span2 {
    float: right;
    margin-right: 15%;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: .6s;
}

.jnr3 {
    background-image: linear-gradient(to right, white, red);
    width: 75%;
    height: 6px;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: .7s;
}

.span3 {
    float: right;
    margin-right: 25%;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: .7s;
}

.jnr4 {
    background-image: linear-gradient(to right, white, red);
    width: 85%;
    height: 6px;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: .8s;
}

.span4 {
    float: right;
    margin-right: 15%;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: .8s;
}

.jnr5 {
    background-image: linear-gradient(to right, white, red);
    width: 75%;
    height: 6px;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: .9s;
}

.span5 {
    float: right;
    margin-right: 25%;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: .9s;
}

.jnr6 {
    background-image: linear-gradient(to right, white, red);
    width: 90%;
    height: 6px;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: 1.5s;
}

.span6 {
    float: right;
    margin-right: 10%;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: 1.5s;
}

.jnr7 {
    background-image: linear-gradient(to right, white, red);
    width: 95%;
    height: 6px;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: 1.6s;
}

.span7 {
    float: right;
    margin-right: 5%;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: 1.6s;
}

.jnr8 {
    background-image: linear-gradient(to right, white, red);
    width: 80%;
    height: 6px;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: 1.7s;
}

.span8 {
    float: right;
    margin-right: 20%;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: 1.7s;
}

.jnr9 {
    background-image: linear-gradient(to right, white, red);
    width: 85%;
    height: 6px;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: 1.8s;
}

.span9 {
    float: right;
    margin-right: 15%;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: 1.8s;
}

.jnr10 {
    background-image: linear-gradient(to right, white, red);
    width: 70%;
    height: 6px;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: 1.9s;
}

.span10 {
    float: right;
    margin-right: 30%;
    animation: move-right;
    animation-duration: 1s;
    position: relative;
    animation-delay: 1.9s;
}

@media screen and (min-width:800px) {
    .divider {
        animation: none;
    }

    .cover {
        width: 40%;
        display: inline-block;
        margin: 0 5%;
        overflow: hidden;
    }

    .divider1 {
        animation: none;
    }

    .cover1 {
        width: 40%;
        display: inline-block;
        margin: 0 5%;
        overflow: hidden;
    }

    .jnr1 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .5s;
    }

    .span1 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .5s;
    }

    .jnr2 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .6s;
    }

    .span2 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .6s;
    }

    .jnr3 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .7s;
    }

    .span3 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .7s;
    }

    .jnr4 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .8s;
    }

    .span4 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .8s;
    }

    .jnr5 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .9s;
    }

    .span5 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .9s;
    }

    .jnr6 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .6s;
    }

    .span6 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .6s;
    }

    .jnr7 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .7s;
    }

    .span7 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .7s;
    }

    .jnr8 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .8s;
    }

    .span8 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .8s;
    }

    .jnr9 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .9s;
    }

    .span9 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .9s;
    }

    .jnr10 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .10s;
    }

    .span10 {
        animation: move-right;
        animation-duration: 1s;
        position: relative;
        animation-delay: .10s;
    }
}